IDD_DIALOG1 DIALOGEX 0, 0, 237, 65
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enter Text"
FONT 8, "MS Sans Serif"
BEGIN
  LTEXT      "Enter something:",-1,7,14,50,8
  EDITTEXT    IDC_EDIT1,7,24,223,12,ES_AUTOHSCROLL
  DEFPUSHBUTTON  "OK",IDOK,90,44,50,14
  PUSHBUTTON   "Cancel",IDCANCEL,147,44,50,14
END